@charset "UTF-8";
/*=== Подключение шрифтов  ================================*/
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerUltraLight.eot");
  src: local("Muller UltraLight"), local("MullerUltraLight"), url("../fonts/MullerUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerUltraLight.woff2") format("woff2"), url("../fonts/MullerUltraLight.woff") format("woff"), url("../fonts/MullerUltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBoldItalic.eot");
  src: local("Muller Bold Italic"), local("MullerBoldItalic"), url("../fonts/MullerBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBoldItalic.woff2") format("woff2"), url("../fonts/MullerBoldItalic.woff") format("woff"), url("../fonts/MullerBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.eot");
  src: local("Muller Medium"), local("MullerMedium"), url("../fonts/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerExtraBoldItalic.eot");
  src: local("Muller ExtraBold Italic"), local("MullerExtraBoldItalic"), url("../fonts/MullerExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBoldItalic.woff2") format("woff2"), url("../fonts/MullerExtraBoldItalic.woff") format("woff"), url("../fonts/MullerExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerUltraLightItalic.eot");
  src: local("Muller UltraLight Italic"), local("MullerUltraLightItalic"), url("../fonts/MullerUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerUltraLightItalic.woff2") format("woff2"), url("../fonts/MullerUltraLightItalic.woff") format("woff"), url("../fonts/MullerUltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.eot");
  src: local("Muller Regular"), local("MullerRegular"), url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBlackItalic.eot");
  src: local("Muller Black Italic"), local("MullerBlackItalic"), url("../fonts/MullerBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlackItalic.woff2") format("woff2"), url("../fonts/MullerBlackItalic.woff") format("woff"), url("../fonts/MullerBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Muller Hairline";
  src: url("../fonts/MullerHairlineItalic.eot");
  src: local("Muller Hairline Italic"), local("MullerHairlineItalic"), url("../fonts/MullerHairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerHairlineItalic.woff2") format("woff2"), url("../fonts/MullerHairlineItalic.woff") format("woff"), url("../fonts/MullerHairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerHeavyItalic.eot");
  src: local("Muller Heavy Italic"), local("MullerHeavyItalic"), url("../fonts/MullerHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerHeavyItalic.woff2") format("woff2"), url("../fonts/MullerHeavyItalic.woff") format("woff"), url("../fonts/MullerHeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerThinItalic.eot");
  src: local("Muller Thin Italic"), local("MullerThinItalic"), url("../fonts/MullerThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerThinItalic.woff2") format("woff2"), url("../fonts/MullerThinItalic.woff") format("woff"), url("../fonts/MullerThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Muller Hairline";
  src: url("../fonts/MullerHairline.eot");
  src: local("Muller Hairline"), local("MullerHairline"), url("../fonts/MullerHairline.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerHairline.woff2") format("woff2"), url("../fonts/MullerHairline.woff") format("woff"), url("../fonts/MullerHairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerHeavy.eot");
  src: local("Muller Heavy"), local("MullerHeavy"), url("../fonts/MullerHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerHeavy.woff2") format("woff2"), url("../fonts/MullerHeavy.woff") format("woff"), url("../fonts/MullerHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerThin.eot");
  src: local("Muller Thin"), local("MullerThin"), url("../fonts/MullerThin.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerThin.woff2") format("woff2"), url("../fonts/MullerThin.woff") format("woff"), url("../fonts/MullerThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLightItalic.eot");
  src: local("Muller Light Italic"), local("MullerLightItalic"), url("../fonts/MullerLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLightItalic.woff2") format("woff2"), url("../fonts/MullerLightItalic.woff") format("woff"), url("../fonts/MullerLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.eot");
  src: local("Muller Light"), local("MullerLight"), url("../fonts/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBlack.eot");
  src: local("Muller Black"), local("MullerBlack"), url("../fonts/MullerBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlack.woff2") format("woff2"), url("../fonts/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.eot");
  src: local("Muller Bold"), local("MullerBold"), url("../fonts/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerExtraBold.eot");
  src: local("Muller ExtraBold"), local("MullerExtraBold"), url("../fonts/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegularItalic.eot");
  src: local("Muller Regular Italic"), local("MullerRegularItalic"), url("../fonts/MullerRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegularItalic.woff2") format("woff2"), url("../fonts/MullerRegularItalic.woff") format("woff"), url("../fonts/MullerRegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMediumItalic.eot");
  src: local("Muller Medium Italic"), local("MullerMediumItalic"), url("../fonts/MullerMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMediumItalic.woff2") format("woff2"), url("../fonts/MullerMediumItalic.woff") format("woff"), url("../fonts/MullerMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/*=== Икончные шрифты  ====================================*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?l225hu") format("truetype"), url("../fonts/icons.woff?l225hu") format("woff"), url("../fonts/icons.svg?l225hu#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
  content: "\e90b";
}

.icon-arrow:before {
  content: "\e90a";
}

.icon-seo3:before {
  content: "\e908";
}

.icon-adaptive:before {
  content: "\e905";
}

.icon-star:before {
  content: "\e906";
}

.icon-brows:before {
  content: "\e907";
}

.icon-cms:before {
  content: "\e909";
}

.icon-close:before {
  content: "\e904";
}

.icon-support:before {
  content: "\e900";
}

.icon-code:before {
  content: "\e901";
}

.icon-light:before {
  content: "\e902";
}

.icon-analytics:before {
  content: "\e903";
}

/*=== Обнуление стилей ====================================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, aside {
  display: block;
}

html, body {
  font-family: "Muller";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=========================================================*/
.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 25, 25);
}

.page {
  flex: 1 1 auto;
}

/*==== Контейнер =====================================================*/
._container {
  max-width: 1230px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  ._container {
    max-width: 992px;
  }
}

/*================== Элементы =================================================*/
.logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.logo img {
  height: 50px;
}
@media (max-width: 500px) {
  .logo img {
    height: 35px;
  }
}
.logo span {
  color: #fff;
  font-size: 22px;
  line-height: 100%;
  height: 100%;
  font-weight: 500;
  margin: 5px 0 0 5px;
}
@media (max-width: 500px) {
  .logo span {
    font-size: 16px;
  }
}
.logo::before {
  content: "";
  display: block;
  box-shadow: 0px 0px 44px 0px rgba(170, 28, 0, 0.32);
  width: 45px;
  height: 45px;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}

.social {
  display: flex;
  gap: 10px;
}
.social img {
  height: 34px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.social img:hover {
  transform: scale(1.1);
}

.whatsapp img {
  height: 31px;
}

.title {
  color: #fff;
  font-size: 56px;
  line-height: 100%;
  font-weight: 700;
}
@media (max-width: 1500px) {
  .title {
    font-size: 46px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: calc(20px + 26 * (100vw - 320px) / 448);
  }
}

.title-large {
  color: #fff;
  font-size: 56px;
  line-height: 100%;
  font-weight: 700;
}
@media (max-width: 1500px) {
  .title-large {
    font-size: 46px;
  }
}
@media (max-width: 768px) {
  .title-large {
    font-size: calc(25px + 26 * (100vw - 320px) / 448);
  }
}

.symbol {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0 0 0 5px;
}

/*==== Header-Footer =====================================================*/
.header {
  position: fixed;
  width: 100%;
  padding: 20px 0 10px 0;
  background: #191919;
  z-index: 100;
  opacity: 0.9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  .header {
    padding: 10px 0 10px 0;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 25px;
}
.header__menu a {
  display: block;
  font-size: 18px;
  color: #bfbfbf;
}
.header__menu a:hover {
  color: #fff;
}
@media (max-width: 1300px) {
  .header__menu a {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .header__menu {
    gap: 15px;
  }
}
@media (max-width: 370px) {
  .header__menu {
    display: none;
  }
}

.footer {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 10px;
}
@media (max-width: 768px) {
  .footer__content {
    padding: 10px 20px 10px;
  }
}
@media (max-width: 500px) {
  .footer__content {
    flex-wrap: wrap;
  }
}
.footer__logo::before {
  display: none;
}
@media (max-width: 500px) {
  .footer__logo {
    order: 1;
    flex: 0 1 50%;
  }
}
.footer__copyright {
  margin: 20px 0 0 0;
  color: #fff;
}
@media (max-width: 768px) {
  .footer__copyright {
    font-size: calc(10px + 6 * (100vw - 320px) / 448);
  }
}
@media (max-width: 500px) {
  .footer__copyright {
    order: 3;
    flex: 0 1 100%;
  }
}
@media (max-width: 500px) {
  .footer__social {
    order: 2;
    flex: 0 1 auto;
  }
}

/*================== Верхная секция =================================================*/
.section-top {
  padding: 160px 0 140px 0;
  position: relative;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1250px) {
  .section-top {
    padding: 160px 0 80px 0;
  }
}
@media (max-width: 600px) {
  .section-top {
    padding: 120px 0 50px 0;
  }
}
.section-top .animated-lines {
  position: absolute;
  height: 130%;
  width: 1500px;
  right: -300px;
  top: -100px;
  transform: scale(-1, 1) rotate(10deg);
}
@media (max-width: 1250px) {
  .section-top .animated-lines {
    width: 1000px;
    right: -100px;
    top: -80px;
  }
}
@media (max-width: 992px) {
  .section-top .animated-lines {
    width: 800px;
    right: -150px;
    top: -80px;
    transform: scale(-1, 1) rotate(50deg);
  }
}
@media (max-width: 900px) {
  .section-top .animated-lines {
    right: -230px;
  }
}
@media (max-width: 768px) {
  .section-top .animated-lines {
    right: -130px;
    top: -50px;
    width: 600px;
    transform: scale(-1, 1) rotate(30deg);
  }
}
@media (max-width: 600px) {
  .section-top .animated-lines {
    width: 400px;
    top: 10px;
  }
}
.section-top path {
  fill: none;
  stroke: #ddd;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}
.section-top__content {
  display: flex;
  position: relative;
  z-index: 10;
}
.section-top__column {
  flex: 0 1 50%;
}
@media (max-width: 992px) {
  .section-top__column {
    flex: 0 1 63%;
  }
}
@media (max-width: 768px) {
  .section-top__column {
    flex: 0 1 70%;
  }
}
.section-top__subtitle {
  position: relative;
  z-index: 10;
  color: #bfbfbf;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  margin-top: 30px;
}
.section-top__subtitle span {
  display: inline-block;
  width: 100%;
}
@media (max-width: 1500px) {
  .section-top__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .section-top__subtitle {
    font-size: calc(12px + 7 * (100vw - 320px) / 448);
  }
}
@media (max-width: 500px) {
  .section-top__subtitle {
    margin-top: 15px;
  }
}
.section-top__button {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 26px 42px 23px;
  border-radius: 4px;
  background-color: #ff3d17;
  color: #fff;
  font-size: 22px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (max-width: 1500px) {
  .section-top__button {
    font-size: 20px;
  }
}
.section-top__button:hover {
  background-color: #fff;
  color: #ff3d17;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.32);
}
@media (max-width: 768px) {
  .section-top__button {
    font-size: calc(12px + 7 * (100vw - 320px) / 448);
  }
}
@media (max-width: 600px) {
  .section-top__button {
    padding: 16px 42px 13px;
  }
}
@media (max-width: 420px) {
  .section-top__button {
    padding: 10px 42px 10px;
  }
}

/*================== Что вы получаете =================================================*/
.section-how {
  padding-top: 115px;
  padding-bottom: 100px;
  background: #101010;
}
@media (max-width: 1300px) {
  .section-how {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .section-how {
    padding-top: calc(50px + 80 * (100vw - 320px) / 448);
    padding-bottom: calc(50px + 80 * (100vw - 320px) / 448);
  }
}
.section-how__content {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
@media (max-width: 1300px) {
  .section-how__content {
    gap: 80px;
  }
}
@media (max-width: 700px) {
  .section-how__content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .section-how__content {
    gap: calc(20px + 60 * (100vw - 320px) / 448);
  }
}
.section-how__column {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .section-how__column {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .section-how__title {
    text-align: start;
  }
}
.card-item {
  flex: 0 1 300px;
  padding: 20px;
}
@media (max-width: 768px) {
  .card-item {
    flex: 1 1 100%;
    max-width: 330px;
  }
}
.card-item:hover .card-item__num {
  text-shadow: 0 0 15px rgba(236, 102, 30, 0.5);
}
.card-item__num {
  font-size: 96px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #ff3d17;
}
@media (max-width: 1300px) {
  .card-item__num {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .card-item__num {
    font-size: calc(50px + 50 * (100vw - 320px) / 448);
  }
}
.card-item__title {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .card-item__title {
    font-size: calc(18px + 1 * (100vw - 320px) / 448);
  }
}
.card-item__text {
  color: #bfbfbf;
  line-height: 120%;
}
@media (max-width: 768px) {
  .card-item__text {
    font-size: calc(16px + 2 * (100vw - 320px) / 448);
  }
}

/*================== Стадии разработки =================================================*/
.stage-page {
  position: relative;
  z-index: 2;
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .stage-page {
    padding-top: calc(50px + 80 * (100vw - 320px) / 448);
    padding-bottom: calc(0px + 30 * (100vw - 320px) / 448);
  }
}
.stage-page__title {
  display: flex;
  align-items: center;
}
.stage-page__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin: 100px 0 0px 0;
  padding: 0 0px 80px 0px;
}
@media (max-width: 1300px) {
  .stage-page__content {
    margin: 80px 0 0px 0;
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .stage-page__content {
    margin: 60px 0 0px 0;
  }
}
@media (max-width: 500px) {
  .stage-page__content {
    margin: 50px 0 0px 0;
  }
}
.item-stage {
  flex: 1 1 250px;
  padding: 0 5px 0 5px;
}
@media (max-width: 1300px) {
  .item-stage {
    flex: 1 1 300px;
  }
}
.item-stage__icon {
  font-size: 55px;
  color: #ff3d17;
  opacity: 0.9;
}
.item-stage__title {
  margin: 20px 0 0 0;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .item-stage__title {
    font-size: calc(18px + 1 * (100vw - 320px) / 448);
  }
}
.item-stage__text {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 110%;
  color: #bfbfbf;
  line-height: 120%;
}
@media (max-width: 768px) {
  .item-stage__text {
    font-size: calc(16px + 2 * (100vw - 320px) / 448);
  }
}

/*================== Секция с формой =================================================*/
.forms-section {
  padding: 150px 0 80px;
  position: relative;
  overflow: hidden;
  background: #101010;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .forms-section {
    padding-top: calc(70px + 80 * (100vw - 320px) / 448);
    padding-bottom: calc(40px + 60 * (100vw - 320px) / 448);
  }
}
.forms-section::before {
  content: "";
  position: absolute;
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: top;
  width: 1000px;
  height: 800px;
  z-index: 0;
  top: 250px;
  right: 0px;
}
.forms-section__content {
  position: relative;
}
.forms-section__row {
  display: flex;
  gap: 90px;
}
@media (max-width: 992px) {
  .forms-section__row {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .forms-section__row {
    gap: calc(40px + 60 * (100vw - 320px) / 448);
  }
}
.forms-section__column {
  flex: 1 1 50%;
}
.forms-section__title {
  font-size: 40px;
  margin-bottom: 30px;
}
@media (max-width: 1500px) {
  .forms-section__title {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .forms-section__title {
    max-width: 465px;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 768px) {
  .forms-section__title {
    font-size: calc(22px + 20 * (100vw - 320px) / 448);
  }
}
.forms-section__text {
  margin-top: 10px;
  font-size: 20px;
  line-height: 110%;
  color: #bfbfbf;
  line-height: 120%;
}
@media (max-width: 992px) {
  .forms-section__text {
    max-width: 465px;
    margin: 10px auto 0px auto;
  }
}
@media (max-width: 768px) {
  .forms-section__text {
    font-size: calc(14px + 6 * (100vw - 320px) / 448);
  }
}

.form {
  background: #ff3d17;
  padding: 50px 50px 90px 50px;
}
@media (max-width: 1300px) {
  .form {
    padding: 50px 40px 50px 40px;
  }
}
@media (max-width: 992px) {
  .form {
    max-width: 380px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .form {
    padding: 50px 25px 50px 25px;
  }
}
@media (max-width: 400px) {
  .form {
    padding: 50px 15px 50px 15px;
  }
}
.form__title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 1300px) {
  .form__title {
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  .form__title {
    text-align: center;
    font-size: calc(17px + 10 * (100vw - 320px) / 180);
  }
}
.form__text {
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 1300px) {
  .form__text {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .form__text {
    margin-bottom: 30px;
    text-align: center;
    font-size: calc(12px + 2 * (100vw - 320px) / 180);
  }
}
.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 15px 12px;
  font-size: 16px;
  margin-bottom: 16px;
}
.form__input._error {
  box-shadow: inset 0 0 15px rgba(255, 0, 0, 0.5);
}
.form__input._error::placeholder {
  color: red;
}
@media (max-width: 500px) {
  .form__input {
    font-size: 12px;
    padding: 12px 10px 10px;
  }
}
.form__input:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
@media (max-width: 1300px) {
  .form__input {
    font-size: 14px;
  }
}
.form__button {
  margin-top: 40px;
  display: flex;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  background-color: #096dd9;
  height: 60px;
  transition: all 0.2s ease;
}
.form__button:hover {
  background-color: #0960bd;
}
@media (max-width: 1300px) {
  .form__button {
    font-size: 16px;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .form__button {
    font-size: 14px;
    height: 45px;
    margin-top: 30px;
  }
}
.form__correction {
  display: block;
  margin-top: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 130%;
}
@media (max-width: 1300px) {
  .form__correction {
    font-size: 12px;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .form__correction {
    font-size: calc(10px + 0 * (100vw - 320px) / 180);
  }
}

.calculator {
  padding-bottom: 70px;
  max-width: 1100px;
  margin: 0 auto;
}
.calculator__content {
  border: 1px solid #ff3d17;
  border-radius: 5px;
  padding: 60px 0px 0 0px;
  background: #101010;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .calculator__content {
    padding: 40px 0 0 0;
  }
}
.calculator__title {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 56px;
  line-height: 100%;
  font-weight: 700;
}
@media (max-width: 992px) {
  .calculator__title {
    font-size: calc(24px + 24 * (100vw - 320px) / 672);
    margin-bottom: calc(0px + 10 * (100vw - 320px) / 672);
    padding: 0 20px;
  }
}
.calculator__item._result {
  padding: 20px;
  text-align: start;
  font-size: 26px;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  color: #fff;
  border: 1px solid #ff3d17;
}
@media (max-width: 500px) {
  .calculator__item._result {
    padding: 20px 15px;
  }
}

.item-calculator {
  box-sizing: border-box;
  padding: 40px;
  border-bottom: 1px solid #ff3d17;
}
@media (max-width: 500px) {
  .item-calculator {
    padding: 40px 15px;
  }
}
.item-calculator:last-child {
  border-radius: 0 0 5px 5px;
  border: none;
}
.item-calculator__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 680px) {
  .item-calculator__row {
    flex-direction: column;
    gap: 40px;
  }
}
.item-calculator__column {
  flex: 0 1 50%;
}
@media (max-width: 680px) {
  .item-calculator__column {
    flex: 1 1 100%;
    width: 100%;
  }
}
.item-calculator__column:nth-child(2) {
  flex: 0 1 30%;
}
@media (max-width: 680px) {
  .item-calculator__column:nth-child(2) {
    flex: 1 1 100%;
  }
}
.item-calculator__column._row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .item-calculator__column._row {
    flex-direction: column;
  }
}
.item-calculator__title {
  color: #fff;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .item-calculator__title {
    font-size: calc(18px + 6 * (100vw - 320px) / 448);
  }
}
.item-calculator__text {
  font-size: 14px;
  color: #bfbfbf;
  line-height: 120%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .item-calculator__text {
    font-size: calc(14px + 2 * (100vw - 320px) / 448);
  }
}
.item-calculator__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  width: 350px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 680px) {
  .item-calculator__radio {
    width: 100%;
  }
}
.item-calculator__radio:last-child {
  margin: 0;
}
.item-calculator__radio._active {
  background: #ff3d17;
  color: #fff;
}
.item-calculator__radio:hover {
  background: #ff3d17;
  color: #fff;
  transition: all 0.2s ease;
}
.item-calculator__cost {
  font-size: 26px;
  font-weight: 500;
  color: #bfbfbf;
  line-height: 120%;
}
@media (max-width: 768px) {
  .item-calculator__cost {
    font-size: calc(14px + 10 * (100vw - 320px) / 448);
    text-align: center;
  }
}
@media (max-width: 680px) {
  .item-calculator__cost {
    font-size: 30px;
  }
}
.item-calculator__inner-check {
  margin-top: 40px;
}
.item-calculator__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 680px) {
  .item-calculator__button {
    width: 100%;
  }
}
.item-calculator__button:hover {
  background: #ff3d17;
  color: #fff;
  transition: all 0.2s ease;
}

.form-calculator {
  margin: 40px 0 0 0;
}
.form-calculator__row {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .form-calculator__row {
    flex-direction: column;
    gap: 0px;
  }
}
.form-calculator textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  font-size: 16px;
}
.form-calculator input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.form-calculator .form__button {
  background-color: #ff3d17;
}
.form-calculator .form__button:hover {
  color: #ff3d17;
  background: #fff;
}

#result {
  font-weight: 600;
}

.checkbox {
  margin-bottom: 15px;
}

.checkbox:last-child {
  margin: 0;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #bfbfbf;
  width: 100%;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .checkbox__label {
    font-size: calc(16px + 4 * (100vw - 320px) / 448);
  }
}

.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #F3F3F3;
  border-radius: 8px;
  border: 2px solid #DCDCDC;
  margin: 0 12px 0 0;
}

.checkbox__label::after {
  content: "";
  transition: all 0.3s ease 0s;
  align-self: flex-start;
  position: absolute;
  top: 7px;
  left: 5px;
  width: 18px;
  height: 18px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(0);
}

.robot__wrapper {
  width: 274px;
  height: 373px;
  position: relative;
}
@media (max-width: 1300px) {
  .robot__wrapper {
    margin: 0px auto;
    width: 274px;
    height: 273px;
  }
}

.robot__wrapper .lottie-player {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1044.6px;
  height: 1062px;
}
@media (max-width: 1300px) {
  .robot__wrapper .lottie-player {
    width: 700.6px;
    height: 700px;
  }
}
@media (max-width: 630px) {
  .robot__wrapper .lottie-player {
    width: 400.6px;
    height: 400px;
  }
}

.robot .lottie-player {
  pointer-events: none;
}

.robots-container {
  transform: scale(-1, 1);
  position: sticky;
}
@media (max-width: 1300px) {
  .robots-container {
    position: absolute;
    margin-top: 60px;
  }
}
@media (max-width: 1024px) {
  .robots-container {
    left: -20px;
  }
}
@media (max-width: 992px) {
  .robots-container {
    left: -60px;
  }
}
@media (max-width: 1300px) {
  .robots-container {
    position: sticky;
    margin-top: 110px;
    height: 300px;
    top: 80px;
    left: -80px;
    bottom: 50px;
  }
}
@media (max-width: 700px) {
  .robots-container {
    display: none;
  }
}